fastapi>=2.1.0
uvicorn[standard]>=0.32.0
sqlalchemy>=2.0.36
aiomysql>=0.2.0
python-multipart>=0.0.9
PyJWT>=2.10.1
pydantic>=2.10.4
yt-dlp>=2025.9.12
pillow>=11.0.0
pytesseract>=0.3.13
requests>=2.32.3
email-validator>=2.4.2
python3-venv>=3.14.0
msgpack>=1.2.2
setuptools>=84.0.0
